<div class="detail-section">
    <div class="container-fluid">

        <img [src]="'https://localhost:8088/' + product.imageUrl" class="img-responsive">

        <h3>{{ product.name }}</h3>
        <div class="price">{{ product.unitPrice | currency:'INR' }}</div>
        <button (click)="addToCart()" class="btn btn-primary btn-sm">
            <i class="fas fa-cart-plus"></i> Add to Cart
        </button>
        

        <hr>
        <h4>Description</h4>
        <p>{{ product.description }}</p>

        <a routerLink="/products" class="mt-5">Back to Product List</a>
    </div>
</div>